<div id="feed" class="container">
    <div class="row">
        <div class="col-xs-12 post-card-wrapper"  *ngFor="let post of posts">
            <div class="material-card post-preview-card" (click)="goToPost(post.id)">
                <h1>{{post.name}}</h1>
                <p class="post-summary">{{post.summary}}</p>
                <span class="icon-user quick-fact">Stanley Clark</span>
                <span class="icon-calendar quick-fact">{{post.date}}</span>
                <span class="icon-price-tags quick-fact" *ngFor="let tag of post.tags">{{tag}}</span>

                <button class="button button--block font--white" (click)="goToPost(post.id)">Read more</button>
            </div>
        </div>
    </div>
</div>