#nav-bar{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 50;
	background-color: #1976D2;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

	.nav-bar--inner{
		line-height: 3.5rem;
	}

	.title{
		margin: 0;
		padding: 1rem 0 1rem 1rem;
		line-height: 3.5rem;
		cursor: pointer;
	}

	.sub-title{
		padding: 1rem 1rem 1rem 0;
		color: $color--white;
		float: left;
		font-size: 1.4rem;
		cursor: pointer;
	}

	.nav-link{
		display: inline-block;
		padding: 1rem 3rem;
		color: $color--white;
		cursor: pointer;
		transition: all 0.2s;

		&:visited, &:link, &:active{
			color: $color--white;
			text-decoration: none;
		}

		&:hover:not(.is-active){
			color: $color--accent;
		}

		&.is-active{
			background-color: $color--accent;
		}
	}

	.hamburger{
		padding: 1rem 0;
		cursor: pointer;
	}

	.social-icon{
		background-color: $color--white;
		color: $color--text-primary;
		padding: 1rem;

		&:hover{
			color: $color--accent;
			text-decoration: none;
			cursor: pointer;
		}

		&:visited{
			text-decoration: none;
		}
	}

	.toggle-button{
		display: inline;
		margin: 0;
		padding: 1rem;
		border: none;
		line-height: 1;
		color: $color--text-primary;
		background-color: $color--white;
		vertical-align: middle;
	}
}

#off-canvas-menu{
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 49;
	background-color: rgba(0, 0, 0, 0);
	transition: all 0.5s;

	@include breakpoint('tablet'){
		display: none;
	}

	&.active{
		z-index: 75;
		background-color: rgba(0, 0, 0, 0.5);

		.off-canvas-wrapper{
			left: 20%;
		}
	}

	.off-canvas-wrapper{
		position: absolute;
		width: 80%;
		left: 100%;
		top: 0;
		right: 0;
		bottom: 0;
		background-color: $color--text-primary;
		transition: left 0.5s;
	}

	.menu-text{
		float: left;
		margin: 1rem 0.5rem 1rem 2rem;
		color: $color--white;
		font-size: 1.2rem;
		line-height: 3.5rem;
		text-transform: uppercase;
	}

	.toggle-button{
		float: right;
		margin: 1rem 1rem 0 0;
		display: inline;
		padding: 1rem;
		border: none;
		line-height: 1;
		background-color: $color--white;
		vertical-align: middle;
	}

	.menu-element{
		display: block;
		margin: 3rem 0 1rem 2rem;
		color: $color--white;
		text-transform: uppercase;
		border-bottom: 1px solid white;
	}

}
