@import "variables";

.grid-container{
    position: relative;
    width: calc(100% - 2rem);
    max-width: 1040px;
    margin: 0 1rem;
    padding: 0 1rem;
    @include flexbox();

    @include breakpoint(desktop){
        width: 100%;
        margin: 0 auto;
    }
}