@import "variables";

#nav-bar {
    @include flexbox();
    @include flex-direction(column);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: $fourth-floor;
    background: rgba(0, 0, 0, 0.8);

    @include breakpoint(tablet){
        @include flex-direction(row);
    }

    .title-wrapper{
        @include flexbox();
    }

    .logo{
        width: 2rem;
        height: 2rem;
        margin: 1.4rem 0 0 1rem;

        @include breakpoint(tablet){
            margin: 1.4rem 0 0 2rem;
        }
    }

    .title {
        display: block;
        cursor: pointer;
        padding: 1rem 1.5rem 1rem 1rem;
        margin-right: auto;
        text-decoration: none;
        color: $color--white;
        font-size: 2rem;
        line-height: 3.2rem;
        text-transform: uppercase;

        @include breakpoint(tablet){
            flex: 100px;
        }
    }

    .nav-links {
        @include flexbox();
        @include flex-wrap(wrap);
        align-items: center;
        flex-direction: column;
        text-align: center;
        background: #212121;
        width: 100%;
        margin: 0;
        position: fixed;
        top: 5rem;
        bottom: 0;


        @include breakpoint(tablet){
            @include justify-content(flex-end);
            flex-direction: row;
            position: relative;
            top: auto;
            bottom: auto;
            margin: 1rem 1rem 1rem auto;
            width: calc(100% - 2rem);
            background: none;
        }

        .is-active{
            background-color: $color--accent ;
            color: $color--white;
        }

        &.nav-links--hidden{
            display: none;

            @include breakpoint(tablet){
                @include flexbox();
            }
        }

        .nav-link{
            width: 100%;

            @include breakpoint(tablet){
                width: auto;
                margin: 0 0 0 1rem;
            }
        }

        &.is-collapsed{
            display: none;

            @include breakpoint(tablet){
                display: flex;
            }
        }
    }

    .nav-link a{
        display: block;
        cursor: pointer;
        padding: 1rem 1.2rem;
        text-decoration: none;
        color: $color--white;
        text-transform: uppercase;

        @include breakpoint(tablet){
            padding: 1rem 1.5rem;
        }

        &:hover:not(.is-active){
            text-decoration: none;
            background-color: $color--accent;
        }

        &:before{
            box-sizing: border-box;
            padding-right: 0.5rem;
        }
    }

    .hamburger {
        padding: 1rem;
        background: transparent;
        border: none;
        cursor: pointer;

        @include breakpoint(tablet){
            display: none;
        }

        &:before{
            font-size: 1.2rem;
            line-height: 0.8rem;
            vertical-align: middle;
            color: $color--white;
        }
    }
}