@import "variables";

#Portfolio{
    flex-wrap: wrap;

    .PortfolioExplanation{
        width: 100%;
    }

    .PortfolioCard{
        position: relative;
        background-color: $color--white;
        cursor: pointer;
        overflow: hidden;
        margin: 0 1rem;

        &:nth-of-type(2){
            margin-left: 0;
        }

        .overlay{
            background: rgba(0, 0, 0, 0.4);
            transition: background 0.3s;
        }

        &:hover{

            .overlay{
                background: rgba(0, 0, 0, 0.8);
            }
        }

        .PortfolioImage{
            width: 15rem;
        }

        .TextContainer{
            @include position-center();
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            color: $color--white;
            width: 90%;
        }

        .PortfolioItemText{
            position: relative;
            margin: 0.2rem 0;
            z-index: $first-floor;
        }
    }

    .PortfolioSpotlight{
        display: flex;
        align-items: flex-start;
        width: 100%;
        margin: 1rem 0;
        padding: 1rem 0;

        .PortfolioImage{
            width: 20rem;
        }

        .PortfolioSpotlightTextContent{
            padding: 0 1rem;
        }

        .PortfolioSpotlightHeading{
            margin-top: 0;
        }
    }
}