@import "variables";

#Portfolio{
    flex-wrap: wrap;

    .PortfolioExplanation{
        width: 100%;
    }

    .PortfolioCard{
        position: relative;
        background-color: $color--white;
        cursor: pointer;
        overflow: hidden;
        margin: 0 1rem;

        &:nth-of-type(2){
            margin-left: 0;
        }

        .overlay{
            background: rgba(0, 0, 0, 0.4);
            transition: background 0.3s;
        }

        &:hover{

            .overlay{
                background: rgba(0, 0, 0, 0.8);
            }
        }

        .PortfolioImage{
            width: 15rem;
        }

        .TextContainer{
            @include position-center();
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            color: $color--white;
            width: 90%;
        }

        .PortfolioItemText{
            position: relative;
            margin: 0.2rem 0;
            z-index: $first-floor;
        }
    }

    .hr{
        display: none;

        @include breakpoint(laptop){
            display: block;
            height: 12px; border: 0;
            box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
        }
    }

    .PortfolioSpotlight{
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        width: 100%;
        margin: 0 0 1rem;
        padding: 0;

        @include breakpoint(laptop){
            flex-direction: row;
        }

        &:last-of-type{
            margin: 0;

            @include breakpoint(laptop){
                margin: 0 0 1rem;
            }
        }

        .PortfolioImage{
            width: calc(100% - 10px);
            max-width: none;
            border: 5px solid $color--text-primary;

            @include breakpoint(laptop){
                width: 20rem;
                border: none;
            }
        }

        .PortfolioSpotlightTextContent{
            padding: 0 1rem;
            background-color: $color--text-primary;
            color: $color--white;

            @include breakpoint(laptop){
                background-color: $color--white;
                color: $color--text-primary;
            }
        }

        .PortfolioSpotlightHeading{
            @include breakpoint(laptop){
                margin-top: 0;
            }
        }
    }
}