@import 'variables';

#work{
    .grid-container{
        @include flex-direction(column);
        padding-left: 3rem;
        box-sizing: border-box;
    }

    .module-title--text, .current-card{
        @include flex(0 0 100%);
    }

    .work-card{
        @include flexbox();
        @include flex-direction(column);
        margin-bottom: 1rem;

        @include breakpoint(laptop){
            @include flex-direction(column);
        }
    }

    .work--content{
        @include flexbox();
        @include flex-direction(column);
        padding-bottom: 1rem;
    }

    .work-company{
        margin-bottom: 0;
    }

    .work-position{
        margin: 0;
        font-size: 1.2rem;
    }

    .work--figure{
        position: relative;
        margin: 0;
        overflow: hidden;
        height: 200px;

        .work--image{
            width: 100%;
            @include position-center();
        }
    }

    hr{
        width: 100%;
    }

    .WorkTimeLineGraphic{
        position: absolute;
        left: 0rem;
        top: 6.3rem;
        bottom: 0;
        width: 5px;
        background: black;
    }

    .work-dates:before{
        content: '';
        position: absolute;
        background: black;
        width: 1rem;
        height: 5px;
        left: 0rem;
        margin: calc(0.75rem - 2px) 0;
    }
}