#main-content {
  overflow: hidden;
}

as-home,as-blog{
  z-index: 49;
}

as-navbar, as-home, as-blog{
  display: block;
  position: relative;
}

.module-title--wrapper{
  position: relative;
  display: inline-block;
  z-index: 50;
  color: $color--text-primary;
}

.module-title--text{
  font-size: 3rem;

  @include breakpoint('phablet'){
    font-size: 3rem;
  }
}

.authorsied-label{
  display: block;
  padding: 2rem 0;
  border-radius: 0;
  font-size: 1rem;
}