#skills{

  .skill--flex{
    display: flex;
    align-items: center;

    @include breakpoint('tablet'){
      height: 170px;
    }

    @include breakpoint('laptop'){
      height: 120px;
    }

    @include breakpoint('desktop'){
      height: 100px;
    }
  }

  .skill--separator{
    margin-bottom: 1rem;
  }

  .skill--icon{
    position: relative;
    flex: 0 0 100px;
    align-self: stretch;
    padding: 1rem;
    background-color: $color--grey-light;
  }

  .skill--content{
    flex: 1;
    margin: 0;
    padding: 1rem;
  }

  .skill--agile{
    background-color: $color--primary-light;
  }

  .skill--data{
    background-color: $color--primary;
  }
}