#blog-spotlight-anchor{

	@include breakpoint('tablet'){
		margin-top: -100px;
		padding-top: 100px;
	}
}

#blog-spotlight{
	.blog-info--wrapper{
		padding: 2rem;
		margin: 0 0 1rem;
		background-color: $color--white;
	}

	.blog-info--title{
		border-bottom: 1px solid $color--text-primary;
		margin-bottom: 1.5rem;
	}

	.blog-info--vector{
		float: right;
	}

	.flex-wrapper{
		display: flex;
		flex-wrap: wrap;
		flex-direction: column-reverse;

		@include breakpoint('tablet'){
			flex-direction: row;
		}
	}

	.grid-card{
		margin-bottom: 1rem;
		padding: 182px 2rem 2rem 2rem;
		position: relative;
		z-index: 3;
		cursor: pointer;
		box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
		transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
		background-color: $color--white;

		&:hover{
			box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

			.read-more-button{
				box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
			}
		}

		.card-title{
			margin-bottom: 1rem;
			font-size: 2rem;
			line-height: 2.4rem;
		}

		.card-date{
			margin-top: 0.5rem;
			margin-bottom: 1rem;
			color: $color--text-secondary;
		}

		.button--offset{
			position: absolute;
			right: -5px;
			bottom: -5px;
		}

		.card-image--wrapper{
			position: absolute;
			overflow: hidden;
			left: 0;
			right: 0;
			top: 0;
			height: 150px;
		}

		.card-image{
			position: absolute;
			max-width: none;
			height: 600px;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}

	.see-all-border{
		margin-top: 3rem;
		border-color: $color--divider;
	}

	.button--see-all{
		position: absolute;
		width: 100%;
		bottom: 0px;
		left: 50%;
		transform: translateX(-50%);
		padding: 1rem 0;

		@include breakpoint('tablet'){
			width: 480px;
		}
	}
}
