.text-center{text-align: center;}
.text-right{text-align: right;}

.float-right{float: right};
.float-left{float: left};

.font--white{color: $color--white;}
.font--back{color: $color--text-primary;}

.bg--black{background-color: black;}

.no-top-margin{margin-top: 0;}

.hidden{display: none !important;}

.module{
  position: relative;
  display: block;
  margin-bottom: 2rem;
}

.button{
  padding: 0.5rem 2rem;
  background-color: $color--accent;
  color: $color--white;
  font-size: 1rem;
  border: 0;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.1s;
  text-transform: uppercase;

  &:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
}

.btn:hover{
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
