#work{
  position: relative;

  .work-card{
    margin-bottom: 1rem;
    padding: 2rem;
    text-align: center;
    border-top: 0.5rem solid $color--accent;

    .work-dates{
      margin-bottom: 1rem;
      color: $color--accent;
    }

    .work-company{
      text-transform: uppercase;
      margin-bottom: 0;
      font-size: 1.4rem;
    }

    .work-position{
      margin: 0 0 1rem 0;
      font-size: 1.2rem;
      color: $color--text-secondary;
    }
  }

  .timeline-divider{
    position: absolute;
    width: 10px;
    height: calc(100% - 25rem);
    bottom: 10rem;
    left: 50%;
    background-color: $color--accent;
    opacity: 0.5;

    @include breakpoint('tablet'){
      left: calc(50% - 5px);
    }
  }
}